// Variables
$color-primario: #3498db;
$color-fondo: #f2f2f2;
$pink:#ea8cbb;
$red: rgb(247, 121, 121);

// Estilos generales
body {
    font-family: Arial, sans-serif;
    background-color: $color-fondo;
    margin: 0;
    padding: 0;
}

header {
    background-color: $pink;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

.banner {
    text-align: center;
    padding: 0;
    margin: 0;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    margin: auto; /* Centra horizontalmente el contenedor productos */
    padding: 20px; /* Añade espaciado interno */
}

.card  {
    width: 18rem; /* Redefine el ancho de las tarjetas */
    margin: 10px; /* Añade espacio entre las tarjetas */
}

footer {
    background-color: $pink;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.btn{
    background-color: $red;
    text-decoration: none;
}
.imagen{
    width: 90%;  
}
